h1 {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    height: 400px;
    background-color: #334Aec;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.login_form input {
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

.login_form button {
    width: 100px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login_form button:hover {
    background-color: darkblue;
}

.form_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}