/* >>>>> VIEW PROFILE CONTAINER <<<<< */
    .viewHomeContainer{

    }

    .viewHomeContainer h2{
        margin: 0;
        padding: 0;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> VIEW POST CONTAINER <<<<< */
    .viewPostContainer{
        height: 11rem;
        width: 100%;
        margin: 0;

        border-bottom: 1px solid gray;

        display: flex;
        flex-direction: column;
        gap: 0rem;

    }
    /* >>> View Info <<< */
    .viewInfo{
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }
    /* >>> RESPONSIVE <<< */
/*  */