@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

/* >>>>> ABOUT CONTAINER <<<<< */
    .aboutContainer{
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 800px) {
        .aboutContainer{
            height: 70vh;
        }
    }

    @media screen and (max-width: 610px) {
        .aboutContainer{
            height: 45vh;
        }
    }
/*  */


/* >>>>> ABOUT TAGS CONTAINER <<<<< */
    .aboutTags{
        width: 50%;
        height: 100%;
        padding-bottom: 100px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1470px) {
        .aboutTags{

        }
    }
/*  */


/* >>>>> ABOUT F CONTAINER <<<<< */
    .aboutF{
        width: 50%;
        height: 100%;

        display: grid;
        place-content: center;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width:1470px) {
        .aboutF{

        }
    }
/*  */


/* >>>>> HASH TAG COMPONENT <<<<< */
    .hashTag{
        width: 90%;
        height: 100px;

        border-bottom: 1px solid black;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hashTag h2{
        font-size: 96px;
        font-family: "Karantina", serif;
        font-weight: bold;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1470px) {
        .hashTag{

        }

        .hashTag h2{
            font-size: 86px;
        }
    }

    @media screen and (max-width: 1310px) {
        .hashTag{

        }

        .hashTag h2{
            font-size: 66px;
        }
    }

    @media screen and (max-width: 1000px) {
        .hashTag{

        }

        .hashTag h2{
            font-size: 46px;
        }
    }

    @media screen and (max-width: 800px) {
        .hashTag{
            height: 50px;
        }

        .hashTag h2{
            font-size: 36px;
        }
    }

    @media screen and (max-width: 610px) {
        .hashTag{
            height: 50px;
        }

        .hashTag h2{
            font-size: 26px;
        }
    }
/*  */