@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Belanosima:wght@400;600;700&family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

/* >>>>> POAT CONTAINER <<<<< */
    .postContainer{
        height: 15rem;
        width: 100%;
        padding: 15px;

        border-bottom: 2px solid black;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> OWNER SECTION <<<<< */
    .owner{
        height: 5rem;
        width: 100%;
    }

    .owner h2{
        font-size: 1.5rem;
        font-family: "Smooch Sans", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    .owner p{
        font-family: "Ysabeau Infant", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .div{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .div p{
        background-color: rgba(128, 128, 128, 0.116);
        height: 20px;
        width: 150px;

        font-size: 14px;
        border-radius: 15px;

        display: grid;
        align-items: center;
        justify-content: center;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> POST DESCRIPTION SECTION <<<<< */
    .postDes{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .postDes h1{
        font-size: 2.5rem;
        font-family: "Smooch Sans", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    .postDes p{
        font-size: 1.5rem;
        font-family: "Smooch Sans", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> POST BUTTONS SECTIONS <<<<< */
    .postButton{
        
    }
    /* >>> RESPONSIVE <<< */
/*  */