@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

/* >>>>> POST HOME CONTAINER <<<<< */
    .postHome{
        height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }

    .postType{
        width: 60%;

        font-family: "Freeman", serif;
        font-weight: 400;
        font-style: normal;

        border-bottom: 2px solid rgba(0, 0, 0, 0.116);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1000px) {
       .postHome{

       }
       
       .postType{

       }
    }

    @media screen and (max-width: 780px) {
       .postHome{

       }
       
       .postType{
        width: 90%;
       }
    }
/*  */


/* >>>>> AUTHOR DETAILS SECTION <<<<< */
    .authorDetails{
        height: 7rem;
        width: 60%;

        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    .authorDetails h2{
        font-family: "Freeman", serif;
        font-weight: 400;
        font-style: normal;
    }

    .authorDetails p{
        font-size: 15px;
        font-family: "Raleway", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1000px) {
        .authorDetails{

        }

        .authorDetails h2{

        }

        .authorDetails p{

        }
    }

    @media screen and (max-width: 780px) {
        .authorDetails{
            width: 90%;
        }

        .authorDetails h2{

        }

        .authorDetails p{

        }
    }
/*  */


/* >>>>> POST DETAILS SECTION <<<<< */
    .postDetails{
        width: 60%;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }
    .postHomeTitle {
        font-size: 4rem;
        font-family: "Freeman", serif;
        font-weight: 400;
        font-style: normal;
    }

    .postDetails p{
        font-size: 25px;
        font-family: "Raleway", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> Main Post <<< */
    .mainPost{
        margin: 5px;
        width: 100%;
        height: 25rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .postDetails::-webkit-scrollbar {
        display: none;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1000px) {
        .postDetails{
            
        }

        .postHomeTitle{
            font-size: 3rem;
        }

        .postDetails p{
            font-size: 20px;
        }
        /* >> Main Post << */
        .mainPost{

        }
    }

    @media screen and (max-width: 780px) {
        .postDetails{
            width: 90%;
        }

        .postHomeTitle{
            font-size: 3rem;
        }

        .postDetails p{
            font-size: 20px;
        }
        /* >> Main Post << */
        .mainPost{

        }
    }

    @media screen and (max-width: 600px) {
        .postDetails{
            width: 90%;
        }

        .postHomeTitle{
            font-size: 2.5rem;
        }

        .postDetails p{
            font-size: 17px;
        }
        /* >> Main Post << */
        .mainPost{

        }
    }
/*  */