@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* >>>>> PROFILE ABOUT CONTAINER <<<<< */
    .profileAbout{
        width: 80%;
        padding: 30px;
        margin: 0 auto;

        font-size: 20px;
        font-family: "Kulim Park", serif;
        font-weight: 300;
        font-style: normal;

        display: grid;
        gap: 2rem;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 600px) {
        .profileAbout{
            width: 95%;

            font-size: 16px
        }
    }

    @media screen and (max-width: 400px) {
        .profileAbout{
            width: 95%;

            font-size: 14px
        }
    }
/*  */


/* >>>>> ABOUT BOTTOM <<<<< */
    .aboutBottom{
        width: 100%;

        color: #021C8B;

        display: flex;
        gap: 6rem;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 400px) {
        .aboutBottom{
            gap: 4rem;
        }
    }
/*  */