@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* >>>>> VIEW ABOUT CONTAINER <<<<< */
    .viewAboutContainer {
        padding: 20px;

        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> VIEW ABOUT DESCRIPTION <<<<< */
    .viewAboutDes {
        padding: 20px;
        border-bottom: 1px solid gray;

    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> VIEW CONTACT CONTAINER <<<<< */
    .viewAboutContact {
        height: 10rem;
        width: 100%;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /* >>> View About Followers <<< */
    .viewAboutFollowers{
        width: 100%;
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
    /* >>> RESPONSIVE <<< */
/*  */