@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Belanosima:wght@400;600;700&family=Smooch+Sans:wght@100..900&display=swap');

/* >>>>> HERO CONTAINER <<<<< */
    .heroContainer{
        height: 50vh;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1400px) {
        .heroContainer{
            height: 70vh;
            width: 100%;
        }
    }
    @media screen and (max-width: 1200px) {
        .heroContainer{
            height: 70vh;
            width: 100%;
        }
    }

    @media screen and (max-width: 800px) {
        .heroContainer{
            height: 70vh;
            width: 100%;
        }
    }

    @media screen and (max-width: 700px) {
        .heroContainer{
            height: 70vh;
            width: 100%;
        }
    }

    @media screen and (max-width: 600px) {
        .heroContainer{
            height: 70vh;
            width: 100%;
        }
    }

    @media screen and (max-width: 450px) {
        .heroContainer{
            height: 50vh;
            width: 100%;
        }
    }
/*  */


/* >>>>> RIGHT SECTION <<<<< */
    .rightSection{
        padding: 16px;
        grid-row-start: 1;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 4;
        z-index: 1;
        background-color: transparent;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 2rem;
    }

    .toLogin{
        height: 50px;
        width: 100px;
        padding: 8px;
        
        border: none;
        outline: none;
        background-color: #1746f0c9;

        font-size: 18px;
        font-family: "Smooch Sans", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;

        display: grid;
        place-content: center;
    }

    /* >>> Hero Intro <<< */
    .heroIntro{
        font-family: "Smooch Sans", serif;
        font-optical-sizing: auto;
        /* font-weight: bolder; */
        font-style: normal;
    }

    .heroIntro h1{
        font-weight: bolder;
        font-size: 2rem;
    }

    .heroIntro p{
        font-size: 18px;
        font-weight: 400;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1400px)
    {
        .rightSection{}
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 5rem;
        }

        .heroIntro p{
            font-size: 30px;
        }
    }
    
    @media screen and (max-width: 1200px)
    {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 5rem;
        }

        .heroIntro p{
            font-size: 30px;
        }
    }
    
    @media screen and (max-width: 1000px)
    {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 5rem;
        }

        .heroIntro p{
            font-size: 30px;
        }
    }
    
    @media screen and (max-width: 900px)
    {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 5rem;
        }

        .heroIntro p{
            font-size: 30px;
        }
    }
    
    @media screen and (max-width: 800px)
    {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 4rem;
        }

        .heroIntro p{
            font-size: 20px;
        }
    }
    
    @media screen and (max-width: 700px)
    {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 4rem;
        }

        .heroIntro p{
            font-size: 20px;
        }
    }
    
    @media screen and (max-width: 700px)
    {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 4rem;
        }

        .heroIntro p{
            font-size: 20px;
        }
    }

    @media screen and (max-width: 600px)
    {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 4rem;
        }

        .heroIntro p{
            font-size: 20px;
        }
    }

    @media screen and (max-width: 550px)
    {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 3rem;
        }

        .heroIntro p{
            font-size: 20px;
        }
    }

    @media screen and (max-width: 450px) {
        /* >> Hero Intro << */
        .heroIntro h1{
            font-size: 2rem;
        }

        .heroIntro p{
            font-size: 18px;
            font-weight: 400;
        }
    }
/*  */


/* >>>>> LEFT SECTION <<<<< */
    .leftSection{
        grid-row-start: 1;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 6;
        /* background-color: #7094d1; */

        background-image: url('./background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 350px;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1400px) {
        .leftSection {
            background-size: 750px
        }
    }

    @media screen and (max-width: 1200px) {
        .leftSection {
            background-size: 750px
        }
    }

    @media screen and (max-width: 1000px) {
        .leftSection {
            background-size: 650px
        }
    }

    @media screen and (max-width: 900px) {
        .leftSection {
            background-size: 650px
        }
    }

    @media screen and (max-width: 800px) {
        .leftSection {
            background-size: 650px
        }
    }

    @media screen and (max-width: 700px) {
        .leftSection {
            background-size: 650px
        }
    }

    @media screen and (max-width: 600px) {
        .leftSection {
            background-size: 500px
        }
    }

    @media screen and (max-width: 550px) {
        .leftSection {
            background-size: 450px
        }
    }

    @media screen and (max-width: 450px) {
        .leftSection{
            background-size: 350px
        }
    }
/*  */