@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* >>>>> PROFILE CONTAINER <<<<< */
    .profileContainer{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> PROFILE NAVBAR <<<<< */
    .profileNavbar{

    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> PROFILE MAIN SECTION <<<<< */
    .profileMain{
        width: 100%;
        padding: 16px;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> PROFILE DESCRIPTION CONTAINER <<<<< */
    .profileInfo{
        width: 50%;
        margin-top: 20px;

        /* border-bottom: 2px solid rgba(128, 128, 128, 0.486); */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.6rem;
    }

    .managerHeader{
        margin-top: 20px;
        margin-bottom: 20px;
        /* color: rgba(128, 128, 128, 0.589); */
        font-family: "Lato", serif;
        font-weight: bold;
        font-style: normal;

        border-bottom: 1px solid black;
    }

    .profileInfo p{
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> Profile Freinds <<< */
    .profileFriends{
        display: flex;
        gap: 2rem;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> PROFILE DESCRIPTION CONTAINER <<<<< */
    .profileDes{
        width: 100%;
        margin-top: 15px;
    }

    .profileDes label{
        font-size: 12px;
        font-weight: 400;
    }

    .profileDes input{
        display: none;
    }

    .more{
        display: none;
    }

    .show{
        display: block;
    }

    #reveal:checked ~ .more{
        display: block;
    }
    #reveal:checked ~ .show{
        display: none;
    }

    /* >>> RESPONSIVE <<< */
/*  */

/* >>>>> PROFILE POSTS CONTAINER <<<<< */
    .profilePosts{
        width: 50%;
    }
    /* >>> RESPONSIVE <<< */
/*  */