.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* profile infomation */
.profile_info {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 50%;
}

.profile_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid black;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h1 {
    padding-bottom: 10px;
}

.info p {
    padding-bottom: 10px;
}

.profile_details button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    height: 40px;
}

.profile_details button:hover {
    background-color: gray;
}

.profile_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid black;
    margin-right: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_bio {
    padding: 20px;
    border-bottom: 2px solid black;
}

.profile_bio p {
    margin-top: 10px;
}

.profile_socials {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.social_icons {
    display: flex;
    margin: 20px;
    align-items: center;
    align-content: center;
}

.social_icons p {
    font-size: 20px;
    margin-left: 10px;
}

/* profile posts */
.profile_posts {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 50%;
}

.profile_post_header {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    justify-content: space-between;
}

.post_date {
    font-size: 12px;
    border-radius: 10px;
    background-color: lightgray;
    justify-content: center;
    display: grid;
    place-content: center;
    padding: 10px;
}

.post {
    padding: 20px;
}

.post_likes {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}

.profile_post_footer {
    display: flex;
    flex-direction: row;
}

.profile_post_footer button {
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
}

.profile_posts h1 {
    padding-bottom: 20px;
}

.profile_post {
    border-top: 2px solid black;
    padding-top: 20px;
    margin-top: 10px;
}

.profile_posts_container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.profile_posts_container::-webkit-scrollbar {
    display: none;
}