@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

/* >>>>> HEADER <<<<< */
    .header{
        height: 98px;
        width: 100%;

        background-color: #021C8B;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .logo{
        width: 233px;
        height: 59px;
        margin-left: 40px;

        background-color: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        display: grid;
        place-content: center;
    }

    .logo a{
        text-decoration: none;
        color: #021C8B;
        font-size: 36px;
        font-family: "Karantina", serif;
        font-weight: bold;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 500px) {
        .header{
            height: 57px;
        }

        .logo{
            width: 132px;
            height: 33px;

            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .logo a{
            font-size: 24px;
        }
    }
/*  */


/* >>>>> NAVBAR SECTION <<<<< */
    .navbar{
        margin-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 860px) {
        .navbar{

        }
    }
/*  */


/* >>>>> NAVLIST CONTAINER <<<<< */
    .navList{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar label{
        font-size: 2rem;
        color: white;
        display: none;
    }
    .navbar input{
        display: none;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 860px) {
        .navbar label{
            display: block;
        }
        .navList{
            height: 381px;
            width: 250px;
            
            background-color: #021C8B;

            position: fixed;
            top: 0;
            right: -250px;
            z-index: 1;
            
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        #sidebar:checked ~ .navList{
            right: 0;
        }
    }
/*  */


/* >>>>> NAVITEM CONTAINER <<<<< */
    .navItem{
        width: 197px;
        height: 59px;

        background-color: transparent;
        border: 1px solid white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        display: grid;
        place-content: center;
    }

    .navHome{
        width: 142px;

        display: grid;
        place-content: center;
    }

    .navLink{
        text-decoration: none;
        color: white;
        font-size: 36px;
        font-family: "Karantina", serif;
        font-weight: bold;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1000px) {
        .navItem{
            width: 157px;
        }

        .navHome{
            width: 122px;
        }

        .navLink{
            font-size: 20px;
        }
    }

    @media screen and (max-width: 860px) {
        .navItem{
            width: 157px;
            border: none;
        }

        .navHome{
            width: 122px;
        }

        .navLink{
            font-size: 36px;
        }
    }
/*  */