@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* >>>>> FEED MAIN <<<<< */
    .feedMain{
        width: 100%;
        /* height: 100vh; */

        display: flex;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1400px) {
        
    }
/*  */


/* >>>>> LEFT SIDE OF FEED <<<<< */
    .feedLeft{
        height: 100%;
        width: 80%;
        padding: 30px;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 950px) {
        .feedLeft{
            width: 100%;
            padding: 15px;
        }
    }
/*  */


/* >>>>> TOP FEED SECTION <<<<< */
    .topFeed{
        width: 100%;
        height: 90px;
        padding: 20px;

        border-bottom: 1px solid black;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .topFeed button{
        font-size: 24px;
        font-family: "Khand", serif;
        font-weight: 300;
        font-style: normal;

        border: none;
        background-color: transparent;
        outline: none;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1400px) {

    }
/*  */


/* >>>>> BOTTOM FEED SECTION <<<<< */
    .bottomFeed{
        width: 100%;

        display: grid;
        place-items: center;
        flex-direction: column;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1400px) {

    }
/*  */


/* >>>>> RIGHT SIDE OF FEED <<<<< */
    .rightFeed{
        height: 100vh;
        width: 20%;
        padding: 20px;

        border-left: 1px solid black;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .fh{
        font-size: 32px;
        font-family: "Khand", serif;
        font-weight: 300;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 950px) {
        .rightFeed{
            display: none;
        }
    }
/*  */


/* >>>>> FEED FOLLOW SECTION <<<<< */
    .feedFollow{
        overflow: scroll;
    }

    .feedFollow::-webkit-scrollbar{
        display: none;
    }
    /* >>> RESPONSIVIE <<< */
    @media screen and (max-width: 1400px) {

    }
/*  */