@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Belanosima:wght@400;600;700&family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

/* >>>>> FEED CONTAINER <<<<< */
.feedContainer {
    width: 100%;
    height: 90vh;

    display: flex;
}

/* >>> RESPONSIVE <<< */
/*  */


/* >>>>> LEFT FEED SECTION <<<<< */
.leftFeed {
    width: 70%;
    height: 100%;

    border-right: 2px solid rgba(128, 128, 128, 0.219);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* >>> RESPONSIVE <<< */
/*  */


/* >>>>> TOP FEED HEADER SECTION <<<<< */
.feedTopHeader {
    height: 150px;
    width: 90%;
    padding: 20px;

    border-bottom: 2px solid rgba(128, 128, 128, 0.219);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.feedContainer input {
    display: block;
    border: none;
    outline: none;

    height: 40px;
    width: 200px;

    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    font-family: "Ysabeau Infant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.head {
    font-size: 2rem;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/* >>> Feed Search <<< */
.feedSearch {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 5rem;

    font-family: "Ysabeau Infant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.search button {
    border: none;
    outline: none;

    height: 40px;
    width: 40px;

    background-color: transparent;

    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* >>> Search <<< */
.search {
    display: flex;
    align-items: center;
}

/* >>> Filter <<< */
.filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.feedTopics {
    height: 40px;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.116);

    border-radius: 15px;

    display: grid;
    place-content: center;
}

/* >>> RESPONSIVE <<< */
/*  */


/* >>>>> POSTS SECTION <<<<< */
.posts {
    width: 90%;

    overflow: scroll;
}

.posts::-webkit-scrollbar {
    display: none;
}

/* >>> RESPONSIVE <<< */
/*  */


/* >>>>> RIGHT FEED SECTION <<<<< */
.rightFeed {
    width: 30%;
    height: 100%;
    padding: 15px;
}

.rightFeed h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    font-family: "Ysabeau Infant", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

/* >>> Feed Followers <<< */
    .feedFollows {
        height: 93%;
        width: 100%;

        overflow: scroll;
    }

    .feedFollows::-webkit-scrollbar {
        display: none;
    }

    
    /* >>> RESPONSIVE <<< */
/*  */