@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* >>>>> VIEW BACK BUTTON <<<<< */
    .viewBack button {
        /* margin: 30px;
        padding: 30px; */
        width: 44px;
        height: 44px;

        border-radius: 50%;
        background-color: transparent;
        outline: none;
        border: 1px solid black;

        display: grid;
        place-content: center;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> VIEW PROFILE MAIN <<<<< */
    .viewProfileMain{
        width: 100%;
        height: 100vh;
        padding: 30px;

        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 850px) {
        .viewProfileMain{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            /* grid-template-columns: repeat(1, 1fr); */
        }
    }
/*  */


/* >>>>> VIEW PROFILE LEFT <<<<< */
    .viewProfileLeft{
        width: 60%;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 850px) {
        .viewProfileLeft{
            width: 100%;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .bigScreenButton{
            display: none;
        }
    }
/*  */


/* >>>>> VIEW LEFT TOP PROFILE <<<<< */
    .viewLeftTop{
        font-family: "League Gothic", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;

        height: 200px;

        /* background-color: aliceblue; */
    }

    .viewName{
        font-size: 6rem;
        padding: 20px;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 900px) {
        .viewName{
            font-size: 5rem;
        }
    }
    @media screen and (max-width: 850px) {
        .viewLeftTop{
            display: none;
        }
    }
/*  */


/* >>>>> VIEW LEFT BOTTOM PROFILE <<<<< */
    .viewRightTop{
        margin-top: 20px;
        width: 95%;
        padding: 50px;

        background-color: azure;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    /* >>> View Nav <<< */
    .viewNav{
        width: 100%;
        padding: 20px;

        border-bottom: 1px solid rgba(0, 0, 0, 0.466);

        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .viewNav button{
        width: 100px;
        height: 45px;

        font-size: 20px;
        font-family: "Kulim Park", serif;
        font-weight: 200;
        font-style: normal;

        border: none;
        outline: none;
        background-color: transparent;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> VIEW PROFILE RIGHT <<<<< */
    .viewProfileRight{
        padding: 60px;
        width: 40%;

        border-left: 1px solid black;

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .smallScreenButton{
        display: none;
    }

    .viewProfileRight h2{
        font-size: 4rem;
        font-family: "League Gothic", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }

    .viewProfileRight p{
        font-size: 20px;
        font-family: "Kulim Park", serif;
        font-weight: 200;
        font-style: normal;
    }

    .viewDes{
        /* margin-top: 30px; */
        /* font-size: 35px; */
    }

    .viewFollow{
        width: 100%;

        display: flex;
        align-items: center;
        gap: 6rem;
    }

    .viewFollow button{
        width: 70px;
        height: 36px;

        font-size: 20px;
        font-family: "Kulim Park", serif;
        font-weight: 200;
        font-style: normal;

        color: white;
        background-color: #021C8B;

        border: none;
        outline: none;
        border-radius: 20px;
    }

    .viewFollow p{
        color: #021C8B;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1000px) {
        .viewProfileRight h2{
            font-size: 3rem;


        }

        .viewProfileRight p{
            font-size: 16px;
        }

        .viewFollow{
            gap: 4rem;
        }

        .viewFollow p{
            font-size: 14px;
        }

        .viewFollow button{
            font-size: 16px;
        }
    }
    @media screen and (max-width: 850px) {
        .viewProfileRight{
            width: 100%;
            padding: 20px;

            border: none;

            grid-row-start: 1;
            grid-row-end: 2;

            position: initial;
            top: initial;
            bottom: initial;
            right: initial;
        }

        .smallScreenButton{
            display: block;
        }

        .viewProfileRight h2{
            font-size: 3rem;
        }

        .viewProfileRight p{
            font-size: 16px;
        }

        .viewFollow{
            gap: 4rem;
        }

        .viewFollow p{
            font-size: 14px;
        }

        .viewFollow button{
            font-size: 16px;
        }
    }
/*  */